* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  padding: 16px 32px;
}

body,
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controls {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

#controls > div {
  text-align: center;
}

h1,
h4 {
  text-align: center;
}

h4 {
  margin-top: 0.5rem;
}

#container {
  position: relative;
  width: 720px;
  height: 405px;
  max-width: 100%;
  max-height: 100%;
  border: 2px dashed #d1d5db;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-top: 1rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#overlay,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#status {
  min-height: 16px;
  margin: 8px 0;
}

#video,
#canvas {
  display: none;
}

#size-container {
  display: none;
}

#show-video-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#show-video-btn svg {
  width: 32px;
  height: 32px;
}

a {
  color: rgba(39, 94, 254, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#versions {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}